---
interface Props {
  movie: any;
  chuyenURLSangProxy: (url: string) => string;
  chuyenURLSangProxy1: (url: string) => string;
}

const { movie, chuyenURLSangProxy } = Astro.props;
---

<div
  class="flex w-full items-center justify-center gap-16 lg:items-start lg:justify-start"
>
  <div class="flex flex-col space-y-6 lg:w-[50%]">
    <div class="flex items-start flex-row gap-4">
      <div class="mx-auto w-40 flex-shrink-0 lg:mx-0">
        <div
          class="relative h-[15rem] lg:h-[12rem] w-[80%] rounded-lg shadow-[0_12px_48px_rgba(255,255,255,0.15)] transition-all duration-300 hover:shadow-[0_16px_64px_rgba(255,255,255,0.25)]"
        >
          <img
            src={chuyenURLSangProxy(movie.poster_url)}
            alt={`Poster phim ${movie.name}`}
            class="absolute left-0 top-0 h-full w-full rounded-[6px] object-cover"
            loading="eager"
            fetchpriority="high"
          />

          <div
            class="pointer-events-none absolute bottom-0 left-0 h-[100%] w-full rounded-b-[6px]"
            style={{
              background:
                "linear-gradient(to top, rgba(30, 30, 30, 0.2), transparent)",
            }}
            aria-hidden="true"
          >
          </div>
        </div>
      </div>

      <div
        class="flex w-full flex-1 flex-col items-center gap-1 lg:items-start"
      >
        <h2
          class="text-center text-lg font-semibold leading-tight text-white lg:text-left lg:text-xl"
        >
          {movie.name}
        </h2>
        {
          movie.origin_name && (
            <p class="text-center text-sm font-normal text-[#ffd875] lg:text-left">
              {movie.origin_name}
            </p>
          )
        }

        <div
          class="mt-2 hidden flex-wrap items-center justify-center gap-2 font-semibold text-[#ECECEC] sm:flex text-[11px]"
        >
          <div
            class="flex items-center border border-yellow-300 lg:px-2 px-1 py-0.5 rounded-md"
          >
            <p class="text-[#f7d54d]">IMDb</p>
            <p class="pl-1">
              {
                movie.tmdb.vote_average === 0
                  ? 10
                  : movie.tmdb.vote_average.toFixed(1)
              }
            </p>
          </div>

          {
            movie.quality && (
              <>
                <span class="bg-white px-1 py-0.5  rounded-md text-black font-bold">
                  {movie.quality}
                </span>
              </>
            )
          }

          {
            movie.year && (
              <>
                <span class="border border-white  px-1 py-0.5  rounded-md">
                  {movie.year}
                </span>
              </>
            )
          }
          {
            movie.time && (
              <>
                <span class="border border-white  px-1 py-0.5 rounded-md">
                  {movie.time}
                </span>
              </>
            )
          }
        </div>
        <div class="py-2">
          {
            movie.episode_current && (
              <>
                <span class="hidden lg:flex items-center justify-center gap-2 text-xs bg-[#ffd875]/5 py-2 px-3 rounded-full">
                  {/hoàn tất|full/i.test(movie.episode_current) ? (
                    <>
                      <svg
                        class="h-4 w-4 text-green-500"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                      >
                        <path d="M5 13l4 4L19 7" />
                      </svg>
                      {movie.episode_current}
                    </>
                  ) : (
                    <>
                      <div
                        class="h-3 w-3 animate-spin rounded-full border-2 border-current border-t-transparent text-yellow-400"
                        aria-hidden="true"
                      />
                      Đang chiếu: {movie.episode_current}
                    </>
                  )}
                </span>
              </>
            )
          }
        </div>
        {
          movie.category?.length > 0 && (
            <div class="mt-2 hidden flex-wrap gap-2 lg:flex">
              {movie.category.map((genre: any) => (
                <a
                  href={`/the-loai/${genre.slug}`}
                  class="rounded-[4px] bg-[#ffffff14] px-2 py-1 text-[11px] font-normal text-gray-200 transition-colors duration-200 hover:text-yellow-400"
                >
                  {genre.name}
                </a>
              ))}
            </div>
          )
        }
      </div>
    </div>
  </div>

  <div class="hidden lg:block lg:w-[50%] space-y-3">
    {
      movie.director && (
        <h2 class=" text-[14px] font-semibold text-white">
          Đạo diễn:
          <span class="ml-2 text-[13px] font-normal text-gray-400">
            {movie.director}
          </span>
        </h2>
      )
    }
    {
      movie.actor && movie.actor.length > 0 && (
        <h2 class=" text-[14px] font-semibold text-white">
          Diễn viên:
          <span class="ml-2 text-[13px] font-normal text-gray-400">
            {movie.actor.join(", ")}
          </span>
        </h2>
      )
    }

    {
      movie.content && (
        <div class="">
          <h2 class="my-1 text-[14px] font-semibold text-white">
            Nội dung phim:
          </h2>
          <p class="line-clamp-4 text-[13px] leading-relaxed text-gray-400">
            {movie.content}
          </p>
        </div>
      )
    }
  </div>
</div>
